@use '../utilities/variables' as *;

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

ul {
  list-style: none;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 3.5rem;
  color: var(--color-primary-500);
  text-align: center;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.2rem;
}

p,
a,
li,
button {
  font-size: 1.7rem;
  color: inherit;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.lead-text {
  font-size: 1.9rem;
  text-align: center;
}
