@use './variables' as *;

// Mixins

@mixin center-me($direction: "row") {
  display: flex;
  @if $direction == column {
    flex-direction: column;
  }
  align-items: center;
  justify-content: center;
}

@mixin hover {
  transform: translateY(-2px);
}

@mixin dotted-line($flipped: false) {
  &::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 4rem;
    width: 100%;
    left: 100%;
    background-image: url("../images/dotted-line.svg");
    background-repeat: no-repeat;
    margin-top: 4rem;
    margin-left: 0.5rem;
    z-index: -10;

    @include media-query(phone-large) {
      width: 40%;
      margin-left: -2rem;
    }

    @include media-query(phone) {
      position: static;
      transform: rotate(90deg);
      margin-top: 2rem;
      margin-left: 0;
      width: 15%;
    }

    @if $flipped {
      transform: rotate(180deg);
      margin-left: -2rem;
      margin-top: 6.5rem;

      @include media-query(phone-large) {
        margin-top: 2rem;
        margin-left: -2.5rem;
      }
      @include media-query(phone) {
        transform: rotate(-90deg);
        margin-left: 1rem;
      }
    }
  }
}

/*
  phone:           500px
  phone-large:     600px
  tablet-small:    750px
  tablet-port:     850px
  tablet-land:     900px
  desktop:         1050px
*/

@mixin media-query($breakpoint) {
  @if $breakpoint == phone {
    // Figure out why ems aren't working
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }
  @if $breakpoint == phone-large {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tablet-small {
    @media only screen and (max-width: 46.875em) {
      @content;
    }
  }
  @if $breakpoint == tablet-port {
    @media only screen and (max-width: 53.125em) {
      @content;
    }
  }
  @if $breakpoint == tablet-land {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 65.625em) {
      @content;
    }
  }
}

// Placeholders

%box-shadow {
  box-shadow: 0 0.5rem 1.5rem hsla(0, 0%, 0%, 0.08),
    0 0 3rem hsla(0, 0%, 0%, 0.06);
}

%transition {
  transition: 0.15s ease-in all;
}

%border-radius {
  border-radius: 1rem;
}

%card-styles {
  @extend %box-shadow;
  @extend %border-radius;
  flex-basis: 50%;
  background-color: var(--color-white);
  position: relative;
  padding: 4.5rem 3rem 3rem;
}
