:root {
  --font-header: "Nunito", sans-serif;
  --font-body: "Lato", sans-serif;

  --color-gray-700: hsl(0, 0%, 30%);
  --color-gray-500: hsl(0, 0%, 60%);
  --color-gray-300: hsl(0, 0%, 97%);

  --color-primary-500: hsl(139, 100%, 19%);
  --color-primary-400: hsl(139, 82%, 35%);
  --color-primary-300: hsl(139, 62%, 60%);
  --color-primary-100: hsl(134, 44%, 94%);

  --color-secondary-700: hsl(29, 74%, 39%);
  --color-secondary-100: hsl(29, 70%, 97%);
  --color-white: hsl(0, 0%, 100%);
}
