@use '../abstracts/mixins' as *;

.cards {
  display: flex;

  @include media-query(phone-large) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  @extend %card-styles;

  @include media-query(phone-large) {
    max-width: 45rem;
  }

  &:not(:last-child) {
    margin-right: 4rem;

    @include media-query(phone-large) {
      margin-right: 0;
    }
  }

  &:first-child {
    @include media-query(phone-large) {
      margin-bottom: 6rem;
    }
  }

  h3 {
    font-weight: 400;
  }

  .icon-wrapper {
    @include center-me;
    background-color: var(--color-primary-100);
    border-radius: 50%;
    position: absolute;
    top: -3.5rem;
    left: 3rem;
    padding: 1.5rem;
  }

  .icon {
    width: 3.5rem;
  }

  .icon-stroke {
    stroke: var(--color-primary-500);
    stroke-width: 1.3;
  }
}
