@use '../abstracts/mixins' as *;

.form {
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    @extend %border-radius;
    background-color: var(--color-gray-300);
    border: none;
    padding: 1rem 2rem;
    flex-grow: 1;
    margin-right: 1.5rem;

    &:focus {
      outline: 2px solid var(--color-primary-400);
    }
  }

  &-group {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
  }

  &-group--inline {
    justify-content: space-between;
    flex-direction: row;

    label {
      @extend %transition;
      animation-fill-mode: forwards;
      position: absolute;
      opacity: 0;
      font-size: 1.4rem;
      left: 2rem;
    }

    input {
      @extend %border-radius;
      background-color: var(--color-gray-300);
      border: none;
      padding: 1rem 2rem;
      flex-grow: 1;
      margin-right: 1.5rem;

      &:focus + label {
        opacity: 1;
        transform: translateY(-2.5rem);
      }
    }
  }
}
