@use '../abstracts/mixins' as *;

.price-blocks {
  display: flex;

  @include media-query(phone) {
    display: block;
  }
}

.price-block {
  background-color: var(--color-gray-300);
  padding: 2.5rem;
  @extend %border-radius;
  text-align: center;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 2rem;

    @include media-query(phone) {
      margin: 0 0 1rem;
    }
  }

  .price-block__title,
  .price-block__price,
  .price-block__text {
    color: var(--color-gray-500);
  }

  &__title {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 0;
    line-height: 1.4;
  }

  &.selected {
    background-color: var(--color-primary-100);
    .price-block__title,
    .price-block__text {
      color: var(--color-gray-700);
    }

    .price-block__price {
      color: var(--color-primary-500);
    }
  }
}
