@use '../abstracts/mixins' as *;

.steps {
  display: flex;
  justify-content: center;

  @include media-query(phone-large) {
    flex-wrap: wrap;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    max-width: 12rem;
    text-align: center;
    position: relative;

    &:not(:last-child) {
      margin-right: 10rem;

      @include media-query(tablet-port) {
        margin-right: 6rem;
      }
    }

    &:nth-child(1) {
      @include dotted-line;
    }

    &:nth-child(2) {
      margin-top: 8rem;
      @include dotted-line(flipped);

      @include media-query(phone-large) {
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      margin-top: 16rem;
      @include dotted-line;

      @include media-query(phone-large) {
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      margin-top: 24rem;

      @include media-query(phone-large) {
        margin-top: 0;
      }
    }

    &__icon-wrapper {
      @include center-me;
      background-color: var(--color-primary-100);
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      padding: 3rem;

      img {
        width: 4rem;
      }
    }
  }
}
