body {
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/background-bubbles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999999;
  }
}
