@use '../utilities/variables' as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-primary-100);
  border-bottom: 0.5rem solid var(--color-primary-500);
  padding: 7rem 0;
  margin-top: 10rem;

  &__pages {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
