@use '../abstracts/mixins';

.navigation {
  background-color: var(--color-white);
  @extend %box-shadow;

  .container--wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    margin: 1.5rem 0;
  }

  &__item {
    display: block;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    @extend %border-radius;
    @extend %transition;
    display: block;
    padding: 1.5rem 2rem;
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-100);
    }
  }
}

.logo {
  width: 11rem;
}
