@use '../utilities/mixins';

.navigation {
  background-color: var(--color-white);
  @extend %box-shadow;

  .container--wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
  }

  &__item {
    display: block;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    display: block;
    padding: 3rem 3rem;
  }
}

.logo {
  width: 10rem;
}
