@use '../abstracts/mixins' as *;

.navigation {
  background-color: var(--color-primary-500);
  @extend %box-shadow;

  @include media-query(tablet-small) {
    padding: 1rem 0;
  }

  .container--wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    margin: 1.5rem 0;

    @include media-query(tablet-small) {
      display: none;
      transform: translateY("-10px");
    }
  }

  &__item {
    display: block;
    @include media-query(tablet-small) {
      // display: none;
      opacity: 0;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    @extend %border-radius;
    @extend %transition;
    display: block;
    padding: 1.5rem 2rem;
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-100);
    }
  }

  &.open {
    height: 100vh;
    overflow: hidden;

    .navigation {
      &__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 20;
      }

      &__item {
        margin-bottom: 2rem;
      }
    }
    .container--wide {
      flex-direction: column;
      justify-content: space-evenly;
      position: fixed;
      z-index: 20;
      height: 100%;
      width: 100%;
    }
  }
}

.logo {
  width: 11rem;
}
